/* Empty. Add your own CSS if you like */

.startScreen{
	padding:20px;
	text-align:center;
}
.startScreen button{
	font-weight: bold;
	border-radius:20px;
	width: 162px;
	min-height: 31px !important;	
	line-height:0px;
}

.startScreen h1{
	margin: 50px 0;
	font-weight: 200;
}

.screen{
	background: #fff;
	padding: 20% 0;
	text-align:center;
}
.board{
	width:100%;
	margin: 0px auto;
	display: table;
	margin: auto 0;
}

.dot {
	border-radius: 100px;
	background: #8E5DAA;
	width: 3em;
	height: 3em;
	float:left;
	margin: 5px;
}

.clear {
	clear: both;
	margin: 0 auto;
	display: inherit;
}

.on {
	background: #DCD021 !important;
	background: #aaa !important;
}
