/* Empty. Add your own CSS if you like */


.platform-browser .main-content{
	width:500px;
	margin:0 auto;
}

.platform-ios .main-content, .platform-android .main-content{
	width:inherit;
	margin: inherit;
}


.startScreen{
	padding:20px;
	text-align:center;
}
.startScreen button, .screen button{
	font-weight: bold;
	border-radius:20px;
	min-width: 122px;
	min-height: 31px !important;	
}
.startScreen button i{
	font-weight: bold;
	font-size:22px;
}


.startScreen h1{
	margin: 50px 0;
	font-weight: 200;
}

.screen{
	background: #fff;
	padding: 20% 0;
	text-align:center;
}
.board{
	width:100%;
	margin: 0px auto;
	display: table;
	margin: auto 0;
}

.dot {
	border-radius: 100px;
	background: transparent;
	width: 3em;
	height: 3em;
	float:left;
	margin: 5px;
}

.clear {
	clear: both;
	margin: 0 auto;
	display: inherit;
}

.on {
	background: #DCD021 !important;
	background: #5C5B5B !important;
}

.commands {
	position: fixed;
	bottom: 0px;
	margin: 30px auto 0px auto;
	width: 100%;
	border-top: 1px solid #999;
	padding: 20px;
}
.platform-browser .commands {
	width: 500px;
}
.platform-ios .commands, .platform-android .commands {
	width: 100%;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

.dot {
	width:2.3em;
	height:2.3em;
}

}
